@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Roboto", sans-serif;
    background: hsl(206, 33%, 96%);
    color: hsl(209, 61%, 16%);
    font-size: 0.87rem;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
nav{
    background: wheat;
    display: grid;
    align-items: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
.navbar{
    width: 90vw;
    max-width: 640px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar h4{
    margin-bottom: 0;
    color: teal;
    letter-spacing: 2px;
}
.nav-link{
    display: flex;
    padding: 20px;
}
.navbar a{
    text-transform: capitalize;
    padding: 20px;
    letter-spacing: 2px;
    color: rgb(30, 6, 85);
}



