*{
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;

}
main{
    display: grid;
    place-items: center;
    min-height: 100vh;
}
.container{
    text-align: center;
}
#value{
    font-size: 6rem;
    font-weight: bold;
}

