*{
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;

}
main{
    display: grid;
    place-items: center;
    min-height: 100vh;
}
.container{
    text-align: center;
}
#value{
    font-size: 6rem;
    font-weight: bold;
}
.btn{
    margin: 0.5rem;
    color: black;
    letter-spacing: 2px;
    padding: 5px 7px;
    background-color: transparent;
    border: 2px solid black;
    border-radius: 10px;
    display: inline-block;
}

h1{
    font-size: 3rem;
    margin-bottom: 0.7rem;
}
.btn:hover{
    transition: .6s;
    background-color: black;
    color: white;
}

