body{
    background-color: hsl(210, 36%, 96%);
    box-sizing: border-box;

    margin: 0;
}
nav{
    background-color: white;
    box-shadow: 0 5px 15px rgb(192, 191, 191);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
ul{
    list-style-type: none;
}
.nav-center h1{
    letter-spacing: 3px;
}