body{
    background-color: hsl(210, 36%, 96%);
    box-sizing: border-box;

    margin: 0;
}
nav{
    background-color: white;
}
.nav-center{
    display: flex;
    align-items: center;
    box-shadow: 0 5px 15px rgb(192, 191, 191);
}